/*My Google Homepage CSS

Trame :
class  gmail & image
logo ?
id  connexion

id : france
class : deux bouton du milieu;

class: pied de page
sous classe : publicité/entreprise/A propos
sous classe : confidentialité/ conditions/ parametres;

*/


.entete
{
	color: blue;
}

#connexion {
	
}

.onglet_gris
{

}

.pied_de_page

.pied_gauche

.pied_droit








