/*My Google Homepage CSS

Trame :
class  gmail & image
logo ?
id  connexion

id : france
class : deux bouton du milieu;

class: pied de page
sous classe : publicité/entreprise/A propos
sous classe : confidentialité/ conditions/ parametres;

*/


a {
	color: #404040;
	text-decoration: none;


}
a:hover {
	text-decoration: underline;
}


.entete
{
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #404040;
	
}



.connex
{
	font-size: 13px;
	font-weight:bold;
	width: 180px;
	height : 90px;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: dodgerblue;
	font-family: Arial, sans-serif;
	

}

.onglet_gris
{

}

.pied_de_page

.pied_gauche

.pied_droit








